shared: &shared
  # Map project string keys to publish targets
  publish_target_mappings:
    carnegie_dpf:
    - dlc_catalog
    - carnegie
    - carnegie_staging
    greene_and_greene:
    - dlc_catalog
    - ggva
    france_in_the_americas:
    - dlc_catalog
  developer_email_address: test@example.com
  default_sender_email_address: test@example.com
  marc_sync_email_addresses:
    - test@example.com

development:
  <<: *shared
  remote_request_username: testuser
  remote_request_password: testpassword

test:
  <<: *shared
  remote_request_username: testuser
  remote_request_password: testpassword
